.section-label {
    position: absolute;
    /* height: 16px; */
    top: -2.5%;
    left: 10px;

    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: var(--font-size-large);
    
    background-color: var(--background-color);

    /* outline: 2px solid red; */
}