.map-location {
    margin-left: var(--exploration-map-location-spacing);
    margin-right: var(--exploration-map-location-spacing);

    font-size: var(--exploration-map-font-size);
}

.map-location + .lower{
    top: 3px;
    position: relative;
}