.map-location {
    margin-left: var(--map-location-spacing);
    margin-right: var(--map-location-spacing);

    font-size: var(--font-size-larger);
}

.map-location + .player{
    top: 3px;
    position: relative;
}