.map-location {
    margin-left: var(--exploration-map-location-spacing);
    margin-right: var(--exploration-map-location-spacing);

    font-size: var(--exploration-map-font-size);

    display:inline-block;
}

.map-location.lower{
    top: 3px;
    position: relative;
}

.map-location.cleared{
    color:var(--exploration-map-cleared-color);
    /* color:hotpink; */
}

.map-location.home{
    color:var(--exploration-map-home-color);
}

.map-location.invisible{
    color:var(--background-color-clear);
}