.actions-display {
    background-color: var(--background-color);
    outline: 1px solid var(--outline-color);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

    gap: var(--standard-gap);
    padding: 10px;
    /* padding-top: 20px; */
}