.action-button {
    height: 100%;
    width: 100%;

}
.action-button button {
    position: relative;
    height: 100%;
    width: 100%;

    /* border-bottom: 1px solid white; */

    /* font-size: var(--font-size-large); */
}

.action-button button:hover {
    border-bottom: none;
}

.direction-input-cover {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    z-index: 1;

    background-color: hsla(0, 0%, 48%, 0.1);
}

/* .direction-input-cover.active{
    display: block;
} */
