.messages {
    padding-bottom: 5%;
    padding-left: 5px;
    padding-right: 5px;

    max-height: 95%;
    overflow: hidden;
}

.messages div{
    margin-top: var(--standard-gap);
}
.messages div:first-child{
    margin-top: var(--large-gap);
}

.tanya-dialogue{
    color: var(--text-color-tanya);
}