.messages {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5px;
    padding-right: 5px;

    max-height: 90%;
    overflow: hidden;
}

.messages div{
    margin-top: 5%;
}

.tanya-dialogue{
    color: var(--text-color-tanya);
}