.combat-map {
    background-color: var(--background-color);
    outline: 1px solid var(--outline-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    font-family: monospace;
}

.combat-map .combat-map-row{
    height: 24px;
}