.exploration-resources-picker {
    width: 50%;
    height: 95%;
    margin-left: 5%;
    outline: 1px solid var(--outline-color);

    position: relative;
}

.exploration-resources-picker .spacing{
    width: 100%;
    height: var(--standard-gap);
}