.caravan-section-options {
    display: flex;
    justify-content: flex-end;
    gap: var(--standard-gap);

    /* height: var(--nav-button-height); */

    grid-column: 1/-1;

    /* outline: 1px solid cyan; */
}

.caravan-section-options button{
    height: var(--nav-button-height);
    font-size: var(--nav-button-font-size);
    background: none;
    border: none;
    color: var(--outline-color);
}

.caravan-section-options button:hover{
    text-decoration: underline 2px solid var(--outline-color);
}
