.caravan-section-sleds {
    display: flex;
    flex-direction: column;
}

.caravan-section-sleds .train{
    width: 100%;
    
    display: flex;
    align-items: center;
    
    margin-top: 3vh;
    font-size: var(--font-size-ascii-regular);

    /* justify-content: center; */
}

.caravan-section-sleds .sled-dog, 
.caravan-section-sleds .sled,
.caravan-section-sleds .sled-space,
.caravan-section-sleds .connecting-arrow{
    font-family: monospace;
    white-space: pre;
    margin-left: 1vw;
}

.caravan-section-sleds .survivors-count{
    margin-top: 2vh;
    font-size: var(--font-size-larger);
}

.caravan-section-sleds .add-subtract-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}