.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size-much-larger);
    /* outline: 1px solid var(--outline-color); */

    /* line-height: var(--map-line-height); */
}

.map .row{
    height: var(--map-row-height);
}