@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(var(--combat-location-width));
    }
}
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--combat-location-width) * -1));
    }
}
@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(var(--combat-location-height) * -1));
    }
}
@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(var(--combat-location-height));
    }
}

@keyframes bumpRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes bumpLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes bumpUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bumpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.Move-Right {
    animation: moveRight var(--combat-animation-duration);
    animation-fill-mode: forwards;
}
.Move-Left {
    animation: moveLeft var(--combat-animation-duration);
    animation-fill-mode: forwards;
}
.Move-Up {
    animation: moveUp var(--combat-animation-duration);
    animation-fill-mode: forwards;
}
.Move-Down {
    animation: moveDown var(--combat-animation-duration);
    animation-fill-mode: forwards;
}

.Bump-Right {
    animation: bumpRight var(.15s);
    animation-fill-mode: forwards;
}
.Bump-Left {
    animation: bumpLeft var(.15s);
    animation-fill-mode: forwards;
}
.Bump-Up {
    animation: bumpUp var(.15s);
    animation-fill-mode: forwards;
}
.Bump-Down {
    animation: bumpDown var(.15s);
    animation-fill-mode: forwards;
}