.caravan-parent {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-parent{
    height: var(--standard-section-height);
    width: var(--standard-section-width);

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 9fr 1fr;

    gap: var(--standard-gap);

    /* outline: 1px solid white; */
}

.nav-rendered-composite {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-buttons {
    background-color: green;
    height: 10%;
}
.rendered-section {
    background-color: purple;
    flex-grow: 1;
}
.resources {
    background-color: orange;
}
.options {
    background-color: grey;
    grid-column: 1/-1;
}