:root{
  background-color: var(--background-color);
  overflow-x: hidden;
}

:root button{
  height: var(--nav-button-height);
  font-size: var(--nav-button-font-size);
  background: none;
  border: none;
  color: var(--outline-color);
}

:root button:hover:not(:disabled){
  text-decoration: underline 2px solid var(--outline-color);
}
:root button:disabled{
  color: var(--disabled-text-color);
}

.App {
  text-align: center;

  color: var(--text-color);

  font-size: var(--font-size-regular);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
