:root{
    --standard-section-height: 85%;
    --standard-section-width: 80%;
    --small-gap: 5px;
    --standard-gap: 10px;
    --large-gap: 20px;
    --very-large-gap: 30px;

    --background-color: #18191a;
    --background-color-trans: #18191a84;
    --background-color-clear: #ffffff00;
    --outline-color: #d7d9db;
    --text-color: #d7d9db;
    --text-color-tanya: #ff762c;
    --background-color-tooltip: #04080b;

    --font-size-smaller: .5em;
    --font-size-small: .75em;
    --font-size-regular: .9em;
    --font-size-large: 1em;
    --font-size-larger: 1.2em;
    --font-size-much-larger: 1.5em;
    --font-size-max: 2em;
    
    --font-size-ascii-regular: .75em;
    
    /* TODO: Rename these to be more generic */
    --nav-button-height: 100%;
    --nav-button-width: 20%;
    --nav-button-font-size: 1.2em;

    --map-row-height: 13px;
    --map-location-spacing: 3.3px;
    --map-font-size: .8em;

    --exploration-map-row-height: 10px;
    --exploration-map-location-spacing: 2.5px;
    --exploration-map-font-size: 1em;
    --exploration-map-color: #a8aaba;
    --exploration-map-cleared-color: #777879;
    --exploration-map-home-color: #e0b087;

    /* Animation */
    --combat-animation-duration: .35s;
    --combat-location-width: 24px;
    --combat-location-height: 24px;

    --disabled-color: #4d4d4d;
    --disabled-text-color: #a0a0a0;

    --emphasis-scale: 1.3;

    --psychic-color: #9c4dca;

    --burn-color-1: #ff0000;
    --burn-color-2: #ffbb4d;

    --explosion-color-1: #ff0000;
    --explosion-color-2: #ffbb4d00;
    /* color: #ca4d4d */
}