:root{
    --standard-section-height: 85%;
    --standard-section-width: 80%;
    --standard-gap: 10px;
    --large-gap: 20px;
    --very-large-gap: 30px;

    --background-color: #18191a;
    --background-color-trans: #18191a00;
    --outline-color: #d7d9db;
    --text-color: #d7d9db;
    --text-color-tanya: #ff762c;

    --font-size-smaller: .5em;
    --font-size-small: .75em;
    --font-size-regular: .9em;
    --font-size-larger: 1.2em;
    --font-size-much-larger: 1.5em;
    --font-size-max: 2em;
    
    --font-size-ascii-regular: .75em;
    
    --nav-button-height: 100%;
    --nav-button-width: 20%;
    --nav-button-font-size: 1.2em;
    
    --map-row-height: 15px;
    --map-location-spacing: 4.5px;
    --map-font-size: .9em;
}