:root{
    --standard-section-height: 85%;
    --standard-section-width: 80%;
    --standard-gap: 10px;

    --background-color: #18191a;
    --background-color-trans: #18191a00;
    --outline-color: #d7d9db;
    --text-color: #d7d9db;
    --text-color-tanya: #ff762c;
}